<p>Add House</p>

  <label>House Name</label>
  <input type="text" placeholder='name of the house' ng-model='controller.house.name'>

  <h5>Add a Room</h5> <br />
  <label>Room Name</label>
  <input type="text"ng-model="controller.room.name">
  <label>Room Area</label>
  <input type="text" ng-model="controller.room.area">
  <button ng-click='controller.addRoomToHouse()' class="btn btn-primary">Add Room</button>

  <div class="alert alert-info" ng-repeat='room in controller.house.rooms track by $index'>
    <h6>Name:</h6> {{room.name}} <br />
    <h6>Area:</h6> {{room.area}}
  </div>
  <br />


<button ng-click='controller.addHouse()' class='btn btn-primary'>Add House</button>
